html {	
    line-height: 1.4em;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
}
body, button, input, select, textarea {
	color: #626164;	
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	background-color: #4bcc4e;
	border: 0 none;
	border-radius: 4px;
	color: white;	
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
p {
	font-weight: 300;
}
a.button, a.button-minimal {
    padding: 0;
    font-weight: normal;
    text-transform: none;
}

/* Widgets
---------------------------------------*/

.widget-title, .widgettitle {
	font-weight: normal;
	line-height: 1em;
    text-transform: none;
}
.widget_nav_menu li {
    font-weight: normal;
    text-transform: none;
}

/* Header
---------------------------------------*/

.site-header {
    position: relative;
}
.header-wrapper {
	background-color: white;
	border-bottom: 1px solid #d7d7d7;
	height: 36px;
    line-height: 36px;
    overflow: hidden;
	position: fixed;
	top: 0;
    width: 100%;
    z-index: 2;
}
.site-branding {
	margin: 0;
}
.healthcare-link {
	color: #4bcc4e;
	font-size: 18px;
    font-weight: normal;
	line-height: 18px;
    min-height: 18px;
    text-transform: none;
}
.header-wrapper .widget.widget-social-media {
	float: right;
    margin: 5px 0 0 0;
    padding: 0;
}
.widget_nav_menu ul[id^="menu-social"] li {
	margin: 0 12px 0 0;
}
.widget_nav_menu ul[id^="menu-social"] li:last-child {
	margin-right: 0;
}
.widget-social-media a {
	color: #bbb;
}

/* Hero
---------------------------------------*/

.hero-wrapper {
	display: block;
    left: 0;
    height: 200px;
    overflow: hidden;
    position: relative;
    top: 36px;
    width: 100%;
}
.home .hero-wrapper {
    height: 777px;
}
.hero-image-wrapper {
	left: -50%;
    position: fixed;
    text-align: center;
    top: 36px;
    width: 200%;
    z-index: 0;
}
.hero-image {
	min-height: 100%;
    min-width: 50%;
}
.hero-wrapper .hero-content-wrapper {
    height: 525px;
	left: 0;
	position: relative;
	right: 0;
    top: 0;
    z-index: 1;
}
.site-title {
	float: left;
	margin: 0;
}
.hero-wrapper .logo {
	background-image: url('images/logo.png');
	float: left;
	height: 34px;
	margin-top: 37px;
	overflow: hidden;
	text-indent: -9999px;
	width: 263px;
}

/* Hero Widgets
---------------------------------------*/

.widget-assitance {
	float: right;
	margin-top: 14px;
	text-align: right;
}
.widget-assitance h2,
.widget-assitance p:first-child {
	color: #ff4e3f;
}
.widget-assitance h2 {
	font-size: 24px;
	margin-bottom: 2px;
}
.widget-assitance p {
	font-size: 14px;
	margin-bottom: 4px;
}
.widget-assitance p:first-child {
	color: #ff4e3f;
	font-size: 26px;
}
.widget-assitance p > a {
	border-bottom: 0 none;
	color: #ff4e3f;
	font-weight: 700;
	text-decoration: none;
}
.widget-assitance p > a:hover {
	color: #626164;	
}
.hero-wrapper .widget-quotes {
    position: absolute;
    top: 158px;
	width: 445px;
}
.widget-quotes .widget-title,
.widget-quotes .p {
	color: #030000;
}
.widget-quotes .widget-title {
	font-size: 48px;
    letter-spacing: -0.015em;
    margin: 0 0 10px 0;
}
.widget-quotes .widget-title span {
	display: block;
	font-size: 60px;
	font-weight: 700;
}
.widget-quotes p {
	color: #030000;
	font-size: 22px;
}
.widget-quotes form {
	margin-bottom: 30px;
}
.widget-quotes .get-quotes-input {
	border: 1px solid #4bcc4e;
	color: #4bcc4e;
	height: 47px;
	line-height: 47px;
	width: 203px;
}
.widget-quotes .get-quotes-input::-webkit-input-placeholder {  
   color: #4bcc4e;  
}
.widget-quotes .get-quotes-input:-moz-placeholder {  
   color: #4bcc4e;  
}
.widget-quotes .get-quotes-input::-moz-placeholder {  
   color: #4bcc4e;  
}
.widget-quotes .get-quotes-input:-ms-input-placeholder {  
   color: #4bcc4e;  
}

.widget-quotes button {
    float: right;
    width: 212px;
}
.widget-quotes p:last-child {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}
.widget-quotes p:last-child a {
	border-bottom: 1px solid #4bcc4e;
	color: #4bcc4e;
	font-weight: 700;
	margin-left: 10px;
}

/* Home Featured
---------------------------------------*/

#home-featured {
	background-color: rgba(255, 255, 255, 0.9);
    bottom: 35px;
	left: 0;
	position: absolute;
	right: 0;
    z-index: 1;
}
#home-featured .widget {
	border-right: 1px solid #d7d7d7;
    box-sizing: border-box;
    display: inline-block;
    height: 183px;
    margin: 50px 0 24px;
    padding: 0 20px;
    vertical-align: top;
    width: 33%;
}
#home-featured .widget:last-child {
	border-right: 0 none;
}
#home-featured .widget .widget-title,
.widget-list dt {
	margin-top: -8px;
}
#home-featured .widget .widget-title {
	color: #343031;
	font-size: 24px;
	margin-bottom: 15px;
	position: relative;
}
#home-featured .widget .widget-title span {
	color: #4bcc4e;
	display: block;
	font-weight: 700;
}
.widget-insurance-product .widget-title,
.widget-insurance-state .widget-title {
	padding-left: 40px;
}
.widget-insurance-product .widget-title:before,
.widget-insurance-state .widget-title:before {
	background-repeat: no-repeat;
	content: '';
	height: 28px;
	left: 0;
	position: absolute;
	top: 6px;
	width: 28px;
}
.widget-insurance-product .widget-title:before {
	background-image: url('images/icon-pill.png');
}
.widget-insurance-state .widget-title:before {
	background-image: url('images/icon-location.png');
}

#find-state-form .select-wrapper {
	float: left;
	position: relative;
}
#find-state-form .select-wrapper:after {
	background-color: #fff;
	background-image: url('images/icon-arrow-down.png');
	background-repeat: no-repeat;
	content: '';
	height: 7px;
	right: 7px;
	position: absolute;
	top: 14px;
	width: 14px;
}
#home-featured .widget p {
	margin-bottom: 18px;
}
#find-state-form .select {
	background-color: #fff;
	border: 1px solid #cccccc;
	color: #909091;
	font-size: 15px;
	height: 34px;
	line-height: 34px;
	padding: 0 27px 0 12px;
	width: 269px;
}
#find-state-form .button-link {
	background-color: transparent;
	color: #4bcc4e;
	float: right;
	font-size: 16px;
	height: auto;
	line-height: 34px;
	padding: 0;
	text-decoration: underline;
	text-transform: none;
}
.widget-list dt,
.widget-list dd {
	padding-left: 18px;
}
.widget-list dt {
	color: #4bcc4e;
	font-size: 18px;
	position: relative;
}
.widget-list dt:before {
	background-image: url('images/icon-arrow-right.png');
	background-repeat: no-repeat;
	content: '';
	height: 11px;
	left: 0;
	position: absolute;
	top: 5px;
	width: 5px;
}
.widget-list dd {
	color: #010108;
	margin: 0 0 27px 0;
}
.widget-list dd:last-child {
	margin: 0;
}

/* Home Answers
---------------------------------------*/

.answers-title {
	font-size: 24px;
	line-height: 1.5em;
	margin-bottom: 80px;
	padding-bottom: 25px;
	position: relative;
}
.answers-title:after {
	background-color: #d5d5d5;
	bottom: 0;
	content: '';
	height: 1px;
	left: 50%;
	margin-left: -56px;
	position: absolute;
	width: 112px;
}
.answers-title span {
	color: #4bcc4e;
	display: block;
	font-size: 48px;
	font-weight: 700;
}


/* Useful Tools
---------------------------------------*/

#useful-tools {
	background-color: #06c9df;
	color: #fff;
	padding: 50px 0 70px;
	text-align: center;
}
#useful-tools .widget {
	margin: 0 auto;
	width: 60%;
}
#useful-tools .widget-title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 60px;
}
#useful-tools p {
	color: #000;
	margin-bottom: 40px;
}
#useful-tools .button {
	background-color: #06c9df;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	height: 47px;
	line-height: 47px;
	width: 246px;
}
#useful-tools .button:first-child {
	margin-right: 52px;
}

/* Content
---------------------------------------*/

#content {
	border-top: 1px solid #d7d7d7;
    padding-top: 36px;
	z-index: 1;
}
.home #primary {
	width: auto;
}
.answers-title {
	font-size: 24px;
	text-align: center;
}
.home #main .post {
    border-top: 0 none;
	display: inline-block;
	padding-top: 0;
	vertical-align: top;
	width: 49%;
}

/* Footer Widget Area
---------------------------------------*/

.footer-widget-area {
    background: #f4f4f4;
    color: #35383e;
    position: relative;
    text-align: center;
}
.footer-widget-area .footer-widget {
	display: inline-block;
	float: none;
	text-align: left;
}
.footer-widget-area .widget_archive li,
.footer-widget-area .widget_categories li,
.footer-widget-area .widget_nav_menu li,
.footer-widget-area .widget_meta li,
.footer-widget-area .widget_pages li,
.footer-widget-area .widget_recent_comments li,
.footer-widget-area .widget_recent_entries li,
.footer-widget-area .widget_rss li {
    border-top: 0 none;
}
.footer-widget-area a {
    color: #35383e;
}
.footer-widget-area a:hover,
.footer-widget-area a:focus,
.footer-widget-area a:active {
    color: #00c601;
}

/* Footer
---------------------------------------*/

.site-footer {
    background: #000;
    border-top: 0 none;
    color: #fff;
    position: relative;
}
.site-footer .footer-widget {
	display: block;
	margin: 0;
	width: 100%;
}
.site-footer .widget {
}
.footer-widget-area .widget-title {
	font-weight: 700;
}
.site-footer .footer-disclaimer {
	float: left;
	width: 60%;
}
.site-footer .footer-disclaimer p:first-child {
	margin-bottom: 5px
}
.site-footer .footer-copyright {
	float: right;
	text-align: right;
	width: 38%;
}
.site-footer .footer-copyright p {
	font-size: 14px;
}
.site-footer p {
	font-size: 12px;
	line-height: 1em;
	margin-bottom: 0;
}